.bg{
    background-image: url(bg.jpg);
    
}
.container{
    width: 40%;
    min-width: 500px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 45%;
    left: 50%;
    
}
h3{
    font-family: 'Poppins',sans-serif;
    text-align: center;
    font-size: 30px;
    }
p{
    font-family: 'Poppins',sans-serif;
    text-align: center;
    font-size: 16px;
    margin-top:20px;
    color: #333;
}
.timer{
    position: relative;
    width: 92%;
    background: #000080;
    left: 4%;
    padding: 40px 0;
    font-family: 'Poppins',monospace;
    color: #fff;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,139,253,0.25);
}
.buttons{
    width: 90%;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-around;
}
.buttons button{
    width: 120px;
    height: 45px;
    background-color: #205e94;
    color: #ffffff;
    border: none;
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
.buttons button:nth-last-child(2){
  background-color: #20b380;
}
.buttons button:nth-last-child(1){
  background-color: #d23332;
}